img{
	vertical-align:bottom;
}
ul,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{
	margin:0;
	padding:0;
	list-style:none;
}
input{
	border:0;
}
input,button,select{
	outline:none;
}
.hidden{
	display: none;
}
body{
	background-color: #F8F8F8;
}
header>p{
	font-size: 40px;
	text-align: center;
	line-height: 46px;
	padding: 20px 0;
	border-bottom: 1px solid #E7E7E7;
}
#nav{
	float: left;
	width: 250px;
}
#nav>ul.menu>li{
	border-bottom: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	padding: 10px 20px;
	cursor: pointer;
	background-color: #fff;
}
#nav>ul.menu>li:hover{
	background-color: #EDEDED;
}
#nav>ul.menu>li.selected{
	background-color: #E3E3E3;
}
#main{
	margin-left: 249px;
	min-height: 810px;
	border: 1px solid #E7E7E7;
	border-top: 0;
	background-color: #fff;
}
#main>div{
	display: none;
}
#main>div.selected{
	display: block;
}
/*缁熶竴鏍峰紡*/
#main>div{
	padding: 10px 20px 20px;
}
#main>div>h1{
	font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    padding: 15px 0;
	border-bottom: 1px solid #ccc;
}
/**鎿嶄綔鐣岄潰**/
#con_box>ul{
	width: 100%;
	overflow: hidden;
	text-align: center;
}
#con_box>ul>li{
	float: left;
	width: 5.4%;
	padding: 10px 0;
	height: 24px;
	border-right: 1px solid #fff;
	border-bottom:1px solid #fff;
	overflow: hidden;
	background-color: #C4D1E5;
}
#con_box>ul:first-child>li{
	border-top: 1px solid #fff;
	background-color: #95B7E8;
}
#con_box>ul>li:first-child{
	border-left: 1px solid #fff;
}

/*閰嶇疆鐣岄潰*/
#ope_top,#configure>ul{
	margin: 20px 0;
	overflow: hidden;
}
#ope_top>ul>li,#configure>ul>li{
	float: left;
	line-height: 33px;
	margin-right: 3%;
}

#ope_top>ul>li:last-child,#configure>ul>li:last-child{
	margin-left: 10%;
}
#ope_top>ul select,#configure>ul select{
	height: 31px;
}
input.ope_invcode,input.con_invcode{
	padding: 2px 5px;
	height: 25px;
	border-radius: 3px;
	border: 1px solid #ccc;
	width: 42%;
	background-color:#ddd;
}
input.inv{
	background-color:#fff;
}
input.inv:focus{
	border: 1px solid #3385FF;
}
input.ope_clear,input.con_clear{
	width: 62px;
	height: 31px;
	border-radius: 3px;
	background-color: #00912F;
	cursor: pointer;
	color: #fff;
}
input.ope_clear:hover,input.con_clear:hover{
	background-color: #037629;
}
input.ope_clear:active,input.con_clear:active{
	background-color: #05551F;
}
input.ope_query,input.con_query{
	width: 62px;
	height: 31px;
	border-radius: 3px;
	cursor: pointer;
	color: #fff;
}

input.query{
	background-color: #3385FF;
}
input.query:hover{
	background-color: #2E76E0;
}
input.query:active{
	background-color: #1F5DB7;
}
/********************************************************/

/*鍛樺伐鍒楄〃*/
#ope_main{
	border: 1px solid #fff;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
}
#ope_main>div{
	float: left;
	height: 636px;
	overflow: hidden;
}
#station,#proset_invcode,#toset_invcode{
	width: 13.1%;
	border-right: 1px solid #fff;
}
#ope_main>div>p{
	padding: 10px 0;
	height: 21px;
	border-bottom: 1px solid #fff;
	overflow: hidden;
	background-color: #95B7E8;
}
ul.station li,ul.proset_invcode li{
	height: 18px;
	padding: 8px 0;
	border-bottom: 1px solid #fff;
	background-color: #C4D1E5;
}
ul.toset_invcode li{
	height: 20px;
	padding: 7px 0;
	border-bottom: 1px solid #fff;
}
ul.toset_invcode select{
	width: 70%;
}
/******棰勮缂╃暐鍥�*******/
div#thumbnail{
	width: 60%;
}
#thumbnail>p{
	height: 25px;
	padding: 10px 0;
}
#thumbnail>div>dl{
	float: left;
	line-height: 60px;
	width: 14%;
	height: 61px;
	border: 1px solid #1A5899;
	border-radius: 5px;
	margin-top: 2%;
	margin-left: 2%;
	cursor: pointer;
	overflow: hidden;
}
#thumbnail>div>dl:hover{
	background-color: #1A5899;
	color: #FFF;
}
#thumbnail>div>dl>dt{
	display: none;
}

/*鎻愮ず妗� */
#popup{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(103,100,100,0.4);
}
#popup>div{
	width: 300px;
	height: 100px;
	margin: 200px auto;
	border: 1px solid #666;
	border-radius: 5px;
	text-align: center;
	box-shadow: 5px 5px 10px 3px #888;
	padding-top: 40px;
	background-color: #fff;
}
#popup>div>button{
	margin-top: 30px;
}
/*****鍏ㄥ睆棰勮*****/
#fullScreen{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(100,100,100,0.4);
}
#fullScreen>div{
	width: 60%;
	height: 80%;
	margin: 5% auto;
	border: 2px solid #056AF2;
	background-color: #73848C;
}
#fullScreen iframe{
	width: 100%;
	height: 100%;
	border: 0;
}
#fullScreen img{
	display: block;
	margin: 20% auto;
	width: 35%;
}
/*鎻愪氦*/

input.ope_submit,input.con_submit{
	width: 62px;
	height: 31px;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	margin-left: 30px;
}
input.sub{
	background-color: #E35552;
}
input.sub:hover{
	background-color: #C9302C;
}
input.sub:active{
	background-color: #AC2925;
}

/************/
/*鏂囦欢鎻愪氦*/
#file>form{
	border: 1px solid #fff;
	padding: 20px;
	margin-top: 20px;
	border-radius: 5px;
}
#file>form p{
	border-bottom: 1px solid #fff;
	padding-bottom: 20px;
}
#path{
	display: none;
}
#file>form>input{
	margin-top: 16px;
	margin-left: 9px;
	width: 69px;
	height: 31px;
	cursor: pointer;
	color: #fff;
	background-color: #3385FF;
	border-radius: 3px;
}
#file>form>input:hover{
	background-color: #317EF3;
}
#file>form>input:active{
	background-color: #3075DC;
}
#upfile{
	padding: 7px 5px;
	border: 1px solid #3385FF;
	border-right: 0;
	border-radius: 3px 0 0 3px;
}
#btnSubmit{
	width: 62px;
	height: 31px;
	border-radius: 0 3px 3px 0;
	background-color: #3385FF;
	color: #fff;
	cursor: pointer;
}
#btnSubmit:hover{
	background-color: #2E76E0;
}
#btnSubmit:active{
	background-color: #1F5DB7;
}
