img{
	vertical-align:bottom;
}
ul,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{
	margin:0;
	padding:0;
	list-style:none;
}
input{
	border:0;
}
input,button,select{
	outline:none;
}
.hidden{
	display: none;
}
body{
	margin: 0;
	font-family: "Microsoft YaHei","宋体",
	"Segoe UI", "Lucida Grande", Helvetica, 
	Arial,sans-serif, FreeSans, Arimo;
}
header>p{
	color: #5B8E8D;
	font-size: 40px;
	text-align: center;
	line-height: 46px;
	padding: 20px 0;
}
nav{
	display: none;
	background-color: #56A2CF;
	color: #fff;
	padding-left: 30px;
	border-bottom: 3px solid #666;
}
nav>ul{
	overflow: hidden;
}
nav>ul>li{
	float: left;
	height: 40px;
	line-height: 40px;
}
#main_left{
	width: 200px;
	float: left;
}
#main_left>li{
	width: 100px;
	margin: 60px auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 2px 2px 5px 0.5px #9D9B9D;
	position: relative;
}
#main_left>li:active{
	top: 3px;
	left: 2px;
	box-shadow: 1px 1px 2px 0 #9D9B9D;
}
#main_left>li.selected{
	background-color: #E34B4B;
	color: #fff;
}
#main_left>div{
	background-color: #56A2CF;
	color: #fff;
	padding-top: 10px;
	padding-left: 10px;
}
#main_left>div>p{
	padding-bottom: 10px;
}
#main_box{
	overflow-x: hidden;
	background-color: #EDFCFF;
}
#main_box>div{
	display: none;
}
#main_box>div.selected{
	display: block;
}
#main_box>div>p{
	margin: 10px;
	padding: 10px 3%;
	font-size: 30px;
	color: #5B8E8D;
}
ul.bad_box{
	min-height: 500px;
	margin: 2px 10px 10px;
	overflow: hidden;
}
ul.bad_box>li{
	float: left;
	margin-bottom: 3%;
	margin-left: 3%;
	width: 100px;
	height: 60px;
	line-height: 60px;
	position: relative;
	text-align: center;
	box-shadow: 2px 2px 5px 0.5px #aaa;
	background-color: #56A2CF;
	border-bottom-right-radius: 20px;
	color: #fff;
	cursor: pointer;
	overflow: hidden;
}
ul.bad_box>li:active{
	box-shadow: 1px 1px 2px 0 #9D9B9D;
	background-color: #8E8E8E;
	top: 2px;
	left: 2px;
}
/*图表大小*/











/*错误弹出框*/
#chose{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.5);
}
#chose_box{
	width: 500px;
	padding: 40px;
	margin: 10% auto;
	background-color: #56A2CF;
	color: #fff;
	overflow: hidden;
}
#chose_box>div{
	float: right;
}
#chose_box>div>span{
	padding-left: 11px;
	padding-right: 11px;
}
#chose_box>div>button{
	border: 2px solid #fff;
	background-color: #9D9B9D;
	font-size: 18px;
	width: 29px;
	height: 28px;
}
#chose_box>div>button:active{
	background-color: #5D5D5D;
}
#chose_box label{
	padding: 5px 10px;
	border: 1px solid #fff;
	font-size: 0.8em;
	cursor: pointer;
}
#chose_box label.checked{
  background-color: #e4393c;
}
#chose_box>ul{
	overflow: hidden;
	margin-top: 20px;
}
#chose_box>ul input{
	display: none;
}
#chose_box>ul li{
	float: left;
	width: 50%;
	margin: 20px 0;
}
#chose_box>form{
	float: right;
	margin-top: 40px;
}
#chose_box>form input{
	width: 80px;
	height: 30px;
	margin-left: 40px;
	background-color: #9D9B9D;
	border: 2px solid #fff;
}
#chose_box>form input:active{
	background-color: #C9302C;
	color: #fff;
}
/*确认提交框*/
#confirm,#popup{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.5);
}
#confirm>div,#popup>div{
	width: 400px;
	height: 150px;
	margin: 13% auto;
	border: 1px solid #b3b3b3;
	border-radius: 5px;
	background-color: #fff;
	text-align: center;
	padding-top: 50px;
	box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
	font-size: 18px;
}
#confirm button,#popup button{
	width: 60px;
	height: 30px;
	margin-top: 40px;
}
#confirm>div>button:nth-child(2){
	margin-right: 70px;
}




































